body {
    background-color: rgb(95, 156, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    border: 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

main{
    display: flex;
    gap:irem ;
    padding: 2rem;/*separa elementos*/
}